@model LibraryModels.News

@{
    ViewData["Title"] = "UpdateNews";
}

<h1>UpdateNews</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateNews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>


            <div class="form-group">
                <label asp-for="Img">Photo</label>
                <input asp-for="Img" type="file" name="file" class="form-control-file" />
                <img src="@Url.Content("~/images/News/" + Model.Img)" width="50" height="50">
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
