@model LibraryModels.Facilities

@{
    ViewData["Title"] = "Create Facilities";
    Layout = "_BackendLayout";
}

<div class="body-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Add New Facilities</h5>
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" asp-controller="Facilities">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SpId" class="control-label"></label>
                                <input asp-for="SpId" class="form-control" />
                                <span asp-validation-for="SpId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>

</div>
