
@{
    ViewData["Title"] = "Change Password";
    Layout = "_BackendLayout";
}

<div class="container mt-5">
    <div class="d-flex justify-content-center ">
        <form class="form-group col-lg-6 card p-5" method="post">
            <div class="mb-3">
                <label for="newPassword" class="form-label">New password</label>
                <input type="password" class="form-control" id="newPassword">
                <div class="invalid-feedback p-2" id="alert-new" role="alert"></div>
            </div>
            <div class="mb-3 ">
                <label for="confirmPassword" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="confirmPassword">
                <div class="invalid-feedback p-2" id="alert-con" role="alert"></div>
            </div>
            <input type="submit" id="ChangePass" value="Create new password" class="btn btn-secondary" disabled />
        </form>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$(document).ready(function () {
            var newPas = "";
            var conPas = ""
            var url = `/Account/CheckPassword`

            $("#newPassword").on("change", () => {
                var inputValue = $("#newPassword").val();
                newPas = inputValue
                var dataToSend = {
                    additionalValue: "newPassword",
                    inputValue: inputValue,
                    conPass: conPas
                };
                $.ajax({
                    type: 'post',
                    url: url,
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res)
                        if (!data.Success) {
                            if (data.Msg.search("Confirm") == -1) {
                                $("#alert-new").text(data.Msg)
                                $("#alert-new").addClass("alert-danger")
                                $("#alert-new").show()
                            } else {
                                $("#alert-con").text(data.Msg)
                                $("#alert-con").addClass("alert-danger")
                                $("#alert-con").show()
                                $("#alert-new").hide()
                            }
                        }
                        else {
                            $("#alert-new").hide()
                            $("#alert-con").hide()
                            checkAll()
                        }
                    },
                    error: err => console.log(err)
                });

            })

            $("#confirmPassword").on("input", () => {
                var inputValue = $("#confirmPassword").val();
                conPas = inputValue
                var dataToSend = {
                    additionalValue: "confirmPassword",
                    inputValue: inputValue,
                    newPass: newPas
                };
                $.ajax({
                    type: 'post',
                    url: url,
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res)
                        if (!data.Success) {
                            $("#alert-con").text(data.Msg)
                            $("#alert-con").addClass("alert-danger")
                            $("#alert-con").show()
                        } else {
                            $("#alert-con").hide()
                            checkAll()
                        }
                    },
                    error: err => console.log(err)
                });
            })

            $("#ChangePass").on("click", (e) => {
                e.preventDefault()
                var dataToSend = {
                    accCode: accCode.val(),
                    newPass: newPas
                };
                $.ajax({
                    type: 'post',
                    url: "/Account/ChangePassword",
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res);
                        Swal.fire({
                            icon: data.Success ? "success" : "error",
                            title: data.Success ? "Success" : "Oops",
                            text: data.Msg,
                            customClass: {
                                container: 'my-swal'
                            }
                        }).then((result) => {
                            result.isConfirmed ? window.location.href("/Authen/Login") : ""
                        })
                    },
                    error: err => console.log(err)
                });
            })
            const checkAll = () => {
                if ($("#newPassword").val() && $("#confirmPassword").val()) {
                    $("#ChangePass").attr("disabled", false)
                }
            }
        })</script>
}