
@{
    ViewData["Title"] = "Forgot password";
    Layout = "_Layout";
}
<div class="body-wrapper container mt-5 d-flex justify-content-center">
    <!-- Change this content if you need to modify -->
    <div class="col-lg-6 align-items-stretch">
        <div class="w-100">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Enter email of your account" />
                    <div class="invalid-feedback"></div>
                </div>
                <button class="btn btn-primary mt-5">Forgot pasword</button>
            </form>
        </div>
    </div>
</div>


