@model LibraryModels.Users;
@{
    ViewData["Title"] = "Student";
    Layout = "_Layout";

    var user = ViewData["UserProfile"] as LibraryModels.Users;
}

<style>
    .my-swal {
        z-index: 99999999;
    }
</style>
<div class="container mt-5">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <div>
                            <img src="~/assets/img/avatars/avatar_default.jpeg" alt="profile picture" class="rounded-circle"
                                 style="width: 150px; height: 150px">
                        </div>
                        <p class="card-title mt-2">Username: <b>@user?.UserName</b></p>
                        <p class="card-title  mt-2">Email: @user?.Email</p>
                        <p class="card-title  mt-2">
                        </p>
                        <p class="card-text text-left">
                        </p>

                        <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="Change password" />
                    </div>
                </div>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Change password</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-group" method="post" asp-action="ChangePassword">
                                <input hidden name="accCode" value="Studentn88RZIqd" />
                                <div class="mb-3">
                                    <label for="oldPassword" class="form-label">Old password</label>
                                    <input type="password" class="form-control" id="oldPassword" aria-describedby="emailHelp">
                                    <span class="alert" id="alert-old" hidden role="alert"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New password</label>
                                    <input type="password" class="form-control" id="newPassword">
                                    <span class="alert" id="alert-new" hidden role="alert"></span>
                                </div>
                                <div class="mb-3 ">
                                    <label for="confirmPassword" class="form-label">Confirm password</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                    <span class="alert" id="alert-con" hidden role="alert"></span>
                                </div>
                                <input type="submit" id="ChangePass" value="Change" class="btn btn-secondary" disabled />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title col-md-4" style="white-space: nowrap;"><b>Other</b> </h4>
                        <div class="row col-md-8">
                            <div class="col-md-6">
                                <p class="card-text">
                                    <strong>All request:</strong>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>Role:@user?.Role</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text">
                                    <strong>Status: </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>$(document).ready(function () {
            var old = $("#oldPassword")
            var con = $("#confirmPassword")
            var accCode = $("input[name='accCode']")
            var alert_old = $("#alert-old")
            var newPas = "";
            var conPas = ""
            var url = `/Account/CheckPassword`



            $("#oldPassword").on("change", () => {
                var inputValue = $("#oldPassword").val();
                var dataToSend = {
                    additionalValue: "oldPassword",
                    inputValue: inputValue,
                    accCode: accCode.val()
                };
                $.ajax({
                    type: 'post',
                    url: url,
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res)
                        if (!data.Success) {
                            $("#alert-old").text(data.Msg)
                            $("#alert-old").addClass("alert-danger")
                            $("#alert-old").show()
                        }
                        else {
                            $("#alert-old").hide()
                            checkAll()
                        }
                    },
                    error: err => console.log(err)
                });
            })

            $("#newPassword").on("change", () => {
                var inputValue = $("#newPassword").val();
                newPas = inputValue
                var dataToSend = {
                    additionalValue: "newPassword",
                    inputValue: inputValue,
                    accCode: accCode.val(),
                    conPass: conPas
                };
                setTimeout(() => {
                    $.ajax({
                        type: 'post',
                        url: url,
                        data: dataToSend,
                        cache: false,
                        success: (res) => {
                            var data = JSON.parse(res)
                            if (!data.Success) {
                                if (data.Msg.search("Confirm") == -1) {
                                    $("#alert-new").text(data.Msg)
                                    $("#alert-new").addClass("alert-danger")
                                    $("#alert-new").show()
                                } else {
                                    $("#alert-con").text(data.Msg)
                                    $("#alert-con").addClass("alert-danger")
                                    $("#alert-con").show()
                                    $("#alert-new").hide()
                                }
                            }
                            else {
                                $("#alert-new").hide()
                                $("#alert-con").hide()
                                checkAll()
                            }
                        },
                        error: err => console.log(err)
                    });
                }, 1000)

            })

            $("#confirmPassword").on("input", () => {
                var inputValue = $("#confirmPassword").val();
                conPas = inputValue
                var dataToSend = {
                    additionalValue: "confirmPassword",
                    inputValue: inputValue,
                    accCode: accCode.val(),
                    newPass: newPas
                };
                $.ajax({
                    type: 'post',
                    url: url,
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res)
                        if (!data.Success) {
                            $("#alert-con").text(data.Msg)
                            $("#alert-con").addClass("alert-danger")
                            $("#alert-con").show()
                        } else {
                            $("#alert-con").hide()
                            checkAll()
                        }
                    },
                    error: err => console.log(err)
                });
            })

            $("#ChangePass").on("click", (e) => {
                e.preventDefault()
                var dataToSend = {
                    accCode: accCode.val(),
                    newPass: newPas
                };
                $.ajax({
                    type: 'post',
                    url: "/Account/ChangePassword",
                    data: dataToSend,
                    cache: false,
                    success: (res) => {
                        var data = JSON.parse(res);
                        Swal.fire({
                            icon: data.Success ? "success" : "error",
                            title: data.Success ? "Success" : "Oops",
                            text: data.Msg,
                            customClass: {
                                container: 'my-swal'
                            }
                        }).then((result) => {
                            result.isConfirmed ? window.location.reload() : ""
                        })
                    },
                    error: err => console.log(err)
                });
            })
        });
        const checkAll = () => {
            if ($("#oldPassword").val() && $("#newPassword").val() && $("#confirmPassword").val()) {
                $("#ChangePass").attr("disabled", false)
            }
        }</script>
}