@model IEnumerable<LibraryModels.QnA>
@{
    ViewBag.Title = "QnA";
    Layout = "_Layout";
}
<div class="body-wrapper">
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h1 class="card-title fw-semibold mb-4">Q&A Topic</h1>
                <p class="mt-4" style="color:red">Reading the Q&A can help you find a solution faster than sending a support request."</p>
            </div>
        </div>
    </div>
</div>



<div class="row mb-5">
    @foreach (var qna in Model)
    {
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="post-entry">
                <div class="text p-4">
                    <h2 class="h1 text-black"><a href="@Url.Action("QnADetail", new { id = qna.Id })">@qna.Title</a></h2>
                    <p class="mb-0">@TruncateString(qna.Content, 100)</p>
                </div>
            </div>
        </div>
    }
</div>


@functions {
    public string TruncateString(string input, int maxLength)
    {
        if (input.Length <= maxLength)
            return input;
        else
            return input.Substring(0, maxLength) + "...";
    }
}